* {
  box-sizing: border-box;
  font-family: 'Uni Neue';
  letter-spacing: 0.05em;
}

.container {
  position: relative;
  padding-top: 4px;
}

.container > textarea,
.container > input {
  display: block;
  width: 100%;
  resize: vertical;
  border: none;
  border-bottom: 2px solid rgba(59, 59, 59, 0.25);
  border-radius: 3px;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 16px;
  caret-color: #42aebb;
}

.container > textarea {
  resize: none;
  z-index: 1;
  position: absolute;
  display: block;
  height: calc(100% - 28px);
  top: 23px;
  overflow: hidden;
  outline: none;
}

.container > textarea:disabled,
.container > input:disabled,
.container > textarea:disabled:not(:placeholder-shown),
.container > input:disabled:not(:placeholder-shown) {
  border: none;
  background: none;
}

.containerDisabled {
  border-bottom: 1px dashed #c5c5c5;
}

.container > textarea:disabled ~ label,
.container > input:disabled ~ label,
.container > textarea:disabled:not(:placeholder-shown) ~ label,
.container > input:disabled:not(:placeholder-shown) ~ label {
  color: #c5c5c5;
}

.container > textarea:focus,
.container > input:focus {
  outline: none;
  border-bottom: none;
}

.container > textarea::placeholder,
.container > input::placeholder {
  opacity: 0;
}

.container > textarea:focus::placeholder,
.container > input:focus::placeholder {
  opacity: 1;
  color: #8e8e8e;
  font-size: 14px;
}

.container > label {
  color: #999;
  font-size: 14px;
  position: absolute;
  top: 20px;
  pointer-events: none;
  transition: 0.1s ease all;
}

.container > textarea:not(:placeholder-shown),
.container > textarea:focus,
.container > input:not(:placeholder-shown),
.container > input:focus {
  border-bottom: 2px solid #42aebb;
  border-radius: 3px;
  transition : border-color 100ms ease;
}

.container > textarea:not(:placeholder-shown) ~ label,
.container > textarea:focus ~ label,
.container > input:not(:placeholder-shown) ~ label,
.container > input:focus ~ label {
  top: 4px;
  font-size: 12px;
  color: #42aebb;
}

.icon {

}

.iconDisabled {
  color: #c5c5c5;
}

.iconActive {
  color: #3b3b3b;
}

.iconInactive {
  color: #8e8e8e;
}

.iconVisibility {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: none;
  cursor: pointer;
}

.showIcon {
  display: block;
}

.hideIcon {
  display: none;
}

.inputPassword {
  padding-right: 36px;
}

.secondaryText {
  width: 100%;
  height: 9px;
  font-size: 12px;
  text-align: left;
  color: #8e8e8e;
  position: relative;
  top: -7px;
}

.container > textarea:disabled ~ .secondaryText,
.container > input:disabled ~ .secondaryText {
  color: #c5c5c5;
}

.containerBoxes {
  width: 100%;
  height: 45px;
  background-color: #e9e9e9;
}

.containerTextarea {
  height: unset;
  padding-top: 25px;
}

.containerTextarea > div:after {
  content: ' ';
}

.containerTextarea > div {
  white-space: pre-wrap;
  visibility: hidden;
  min-height: 25px;
}

.containerBoxes > textarea,
.containerBoxes > input {
  padding-left: 16px;
  padding-bottom: 6px;
  background: none;
}

.containerBoxes > textarea {
  padding-bottom: unset;
}

.containerBoxesDisabled {
  border: 1px dashed #c5c5c5;
  border-radius: 3px;
}

.containerBoxes > label {
  color: #8e8e8e;
  padding-left: 16px;
  top: 14px;
}

.containerBoxes > textarea:not(:placeholder-shown) ~ label,
.containerBoxes > textarea:focus ~ label,
.containerBoxes > input:not(:placeholder-shown) ~ label,
.containerBoxes > input:focus ~ label {
  top: 4px;
  font-size: 12px;
  color: #42aebb;
}

.containerBoxes > textarea:focus::placeholder,
.containerBoxes > input:focus::placeholder {
  opacity: 1;
}

.containerError ~ .secondaryText {
  color: #d93e45;
}

.containerError > textarea:not(:placeholder-shown) ~ label,
.containerError > textarea:placeholder-shown ~ label,
.containerError > textarea:focus ~ label,
.containerError > input:not(:placeholder-shown) ~ label,
.containerError > input:placeholder-shown ~ label,
.containerError > input:focus ~ label {
  color: #d93e45;
}

.containerError > textarea:not(:placeholder-shown),
.containerError > textarea:placeholder-shown,
.containerError > textarea,
.containerError > input:not(:placeholder-shown),
.containerError > input:placeholder-shown,
.containerError > input {
  border-bottom: 2px solid #d93e45;
  caret-color: #d93e45;
}

.containerSuccess ~ .secondaryText {
  color: #00a249;
}

.containerSuccess > textarea:not(:placeholder-shown) ~ label,
.containerSuccess > textarea:focus ~ label,
.containerSuccess > textarea:placeholder-shown ~ label,
.containerSuccess > input:not(:placeholder-shown) ~ label,
.containerSuccess > input:placeholder-shown ~ label,
.containerSuccess > input:focus ~ label {
  color: #00a249;
}

.containerSuccess > textarea:not(:placeholder-shown),
.containerSuccess > textarea:placeholder-shown,
.containerSuccess > textarea,
.containerSuccess > input:not(:placeholder-shown),
.containerSuccess > input:placeholder-shown,
.containerSuccess > input {
  border-bottom: 2px solid #00a249;
  caret-color: #00a249;
}


