@import "./properties.css";

.container {
  position: relative;
}

.label {
  cursor: pointer;
  font-size: var(--label-font-size);
  color: var(--label-default-color);
}

.label:before,
.label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.label:before {
  width: var(--checkbox-box-width);
  height: var(--checkbox-box-height);
  background: var(--checkbox-box-background-color);
  border: solid 1px var(--checkbox-box-border-color);
  border-radius: var(--checkbox-box-border-radius);
  cursor: pointer;
}

.disabled > .label:before {
  border: 1px solid var(--checkbox-box-border-color-disabled);
}

.disabled > .label {
  color: var(--label-disabled-color);
}

.checkbox {
  outline: 0;
  margin-right: var(--checkbox-margin-right);
}

.checkbox:checked + .label:before {
  border: solid 1px #42aebb;
}

.checkbox:active ~ .container {
  background-color: #d9f4ec;
}

.checkbox:checked + .label:after {
  transform: rotate(-45deg);
  color: #42aebb;
  width: 19px;
  height: 9px;
  left: 4px;
  top: 1px;
  border: 2px solid #42aebb;
  border-top-style: none;
  border-right-style: none;
}

.secondaryText {
  font-size: 12px;
  position: absolute;
  left: 33px;
  top: 9px;
}

.error {
  color: #d93e45;
}

.success {
  color: #00a249;
}
