@import "./properties.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Uni Neue";
  letter-spacing: 0.05em;
}

.containerDisabled > .radio {
  cursor: not-allowed;
}

.containerDisabled .name {
  color: var(--color-disabled);
}

.containerDisabled .label {
  color: var(--color-disabled);
}

.containerDisabled .input:checked + .label:before {
  border-color: var(--color-disabled);
}

.containerDisabled .label:before {
  border-color: var(--color-disabled);
}

.containerDisabled .label:after {
  background: var(--color-disabled);
}

.containerError .name {
  color: var(--color-error);
}

.containerSuccess .input:checked + .label:before {
  border-color: var(--color-success);
}

.containerSuccess .input:checked + .label:after {
  background: var(--color-success);
}

.containerSuccess .input:checked ~ .name {
  color: var(--color-success);
}

.radio {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  width: var(--radio-width);
}

.name {
  font-size: var(--name-font-size);
  color: var(--name-color);
}

.input {
  display: none;
}

.input:checked + .label:before {
  border-color: var(--radio-box-border-color);
}

.input:checked + .label:after {
  transform: scale(1);
}

.label {
  display: inline-block;
  height: var(--label-height);
  width: var(--label-width);
  margin-top: var(--label-margin-top);
  position: relative;
}

.label:before,
.label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all var(--label-transition-time) ease;
  transition-property: transform, border-color;
}

.label:before {
  top: 0;
  left: 0;
  width: var(--radio-outside-circle-width);
  height: var(--radio-outside-circle-height);
  border: 2px solid var(--radio-outside-circle-color);
}

.label:after {
  top: 4px;
  left: 4px;
  width: var(--radio-inside-circle-width);
  height: var(--radio-inside-circle-height);
  transform: scale(0);
  background: var(--radio-inside-circle-color);
}

.secondaryText {
  position: relative;
  top: -10px;
  left: 10px;
  font-size: var(--secondary-text-font-size);
}

.containerError .secondaryText {
  color: var(--color-error);
}

.containerSuccess .secondaryText {
  color: var(--color-success);
}
