@import "./properties.css";

.secondaryText {
  font-size: var(--secondary-text-font-size);
  position: relative;
  left: 31px;
  top: -13px;
}

.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}
