@import "./properties.css";

* {
  box-sizing: border-box;
  font-family: "Uni Neue";
  letter-spacing: 0.05em;
}

.input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  outline: 0;
  display: block;
  text-align: left;
  font-size: var(--input-font-size);
  width: 100%;
  height: var(--input-height);
  cursor: pointer;
  color: var(--input-text-color);
  text-decoration: none;
  opacity: 1;
  line-height: var(--input-line-height);
}

.input > a {
  display: block;
}

.buttonGroup {
  position: relative;
  width: 100%;
}

.dropdownMenu {
  position: absolute;
  top: -1.5em;
  right: 0;
  left: 0;
  width: 100%;
  list-style: none;
  text-align: left;
  border-radius: var(--dropdown-menu-border-radius);
  background: var(--dropdown-menu-background);
  display: none;
  box-shadow: var(--dropdown-menu-box-shadow);
}

.option {
  color: var(--option-color);
  min-height: var(--option-min-height);
  width: 100%;
  line-height: var(--option-line-height);
  margin-left: var(--option-margin-left);
  white-space: pre-line;
}

.option > a {
  display: block;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.option:hover {
  background-color: var(--option-hover-background-color);
  cursor: pointer;
}

.disabledOption {
  opacity: var(--disabled-option-opacity);
}

.disabledOption:hover {
  background: var(--disabled-option-background);
  cursor: not-allowed;
}

.isSelected {
  color: var(--option-selected-color);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.label {
  color: var(--label-color);
  font-size: var(--label-font-size);
  position: absolute;
  top: -10px;
}

.secondaryText {
  height: var(--secondary-text-height);
  width: 100%;
  font-size: var(--secondary-text-font-size);
  text-align: left;
  position: absolute;
  top: 27px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
}

.containerDisabled .input {
  border-bottom: 1px dashed var(--color-disabled);
  color: var(--color-disabled);
  cursor: not-allowed;
}

.containerDisabled .label {
  color: var(--color-disabled);
}

.containerError .input {
  border-bottom: 2px solid var(--color-error);
}

.containerError .label {
  color: var(--color-error);
}

.containerError .secondaryText {
  color: var(--color-error);
}

.containerSuccess .input {
  border-bottom: 2px solid var(--color-success);
}

.containerSuccess .label {
  color: var(--color-success);
}

.containerSuccess .secondaryText {
  color: var(--color-success);
}
