{
  "extends": ["pagarme-react"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "it": true,
    "expect": true,
    "mount": true,
    "describe": true,
    "jest": true
  }
}
